body {}

.stage-card.mdl-card {
    width: auto;
    margin: 1em 1em;
}

.stage-option.mdl-button {
    width: 100%;
    height: initial;
    margin: 0.25em 0;
}

@media only screen and (max-width: 420px) {
    .stage-card.mdl-card {
        width: auto;
        margin: 0.5em 0;
    }
}